<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/home/abelsimon/IdeaProjects/PartyTime">
        <parameter name="City" value="Kochi"/>
        <parameter name="chromebrowser" value="chrome"></parameter>
        <parameter name="firefoxbrowser" value="firefox"></parameter>
        <parameter name="url" value="https://in.bookmyshow.com/"></parameter>
        <classes>
            <class name="BookMyShow"/>
            <class name="Reports"/>
        </classes>
    </test>
</suite>